@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --purple: rgb(86, 18, 149);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

/*Navbar*/


nav {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10px;
    font-size: 20px;
}


.nav_links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#logo {
    color: white;
    margin-right: auto;
    padding: 0 20px;
}


nav a {
    font-weight: 500;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav svg {
    fill: white;
}

#sidebox_active {
    display: none;
}

.open_sidebar_button,
.close_sidebar_button {
    display: none;
}

@media(max-width: 560px) {
    nav {
        font-size: 18px;
    }
    .nav_links {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--purple);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.5s ease-in-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open_sidebar_button,
    .close_sidebar_button {
        display: block;
        padding: 20px;

    }

    #sidebox_active:checked~.nav_links {
        right: 0;
    }
}

/*Landing*/

.container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.landing-info {
    position: relative;
    color: rgb(255, 255, 255);

}

.landing {
    padding-top: 80px;
    padding-left: 12vw;
    display: flex;

}

.landing-text {
    padding-bottom: 5px;
    font-size: 24px;
}

.typing {
    font-size: 24px;
}

.name {
    color: var(--purple);
    font-weight: 700;
    font-size: 64px;
}

.lastname {
    color: white;
}

.line-container {
    position: relative;
    padding-right: 10px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: var(--purple);
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    width: 4px;
    height: 240px;
    background: linear-gradient(to bottom, var(--purple), transparent);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

@media(max-width: 768px) {
    .landing {
        padding-top: 100px;
        padding-left: 13vw;
    }

    .line {
        height: 200px;
    }

    .landing-text,
    .typing {
        font-size: 16px;
    }

    .name {
        font-size: 48px;
    }

    nav {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width: 490px) {
    .landing {
        padding-top: 90px;
        padding-left: 12vw;
        margin-left: 20px;
    }

    .line {
        height: 160px;
    }

    .landing-text,
    .typing {
        font-size: 14px;
    }

    .name {
        font-size: 36px;
    }

    nav {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* About */

.about {
    position: absolute;
    top: 50%; /* Slightly towards the top */
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 80%; /* Default width */
    max-width: 800px; /* Prevents it from getting too large */
    
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
}


.top-about {
    display: flex;
}
.top-about p{
    justify-content: center;
}

.about img {
    width: 300px;
    height: 300px;
}


/* Responsive width changes */
@media (max-width: 1024px) {
    .about {
        width: 80%;
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .about {
        width: 90%;
        font-size: 14px;
    }
    .about img {
        width: 200px;
        height: 200px;
    }
}



